* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
}

.sec-one {
    background-color: black;
    color: antiquewhite;
    border-radius: 5px;
    padding: 20px;
}

.sec-one__home {
    text-decoration: none;
     background-color: cadetblue;
    color: azure;
  
   


}

.container {
    padding: 15px;
    margin: 10px;
}

.sec-one__role,
.sec-one__home {

    width: 200px;
    height: 30px;

}

.sec-two__name,
.sec-two__mail {
    border: none;
    border-bottom: gray 2px solid;

}

.sec-three {
    background-color: black;
    color: antiquewhite;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.sec-one,.sec-three,.sec-two{
    margin: 20px;
}
.sec-two__mail,.sec-two__name,.sec-two__textarea{
    padding: 20px;
}
.sec-two__button{
    background-color: cadetblue;
    
    padding:10px;
   
}