* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;

}

.section-one__contact {
    background-color: palegreen;
    color: red;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 20px;
}

.section-one__name {
    font-size: 50px;

}

.section-one__role {
    font-size: 30px;
    margin-top: 10px;
}

.container {
    padding: 50px;

}

.section-two__title,
.section-three__title,
.section-four__title,
.section-five__title {
    margin-top: 20px;
}

.section-two__abt,
.section-three__abt,
.section-four__abt,
.section-five__abt {
    margin-top: 20px;
}

.section-five {
    background-color: black;
    color: antiquewhite;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

}

.section-five__abt a {
    text-decoration: none;
    color: lightblue;
}

.section-four__abt {
    margin-bottom: 10px;
}

.section-three__abt,
.section-four__abt {
    list-style-type: none;
}

.section-three {
    background-color: lightcoral;
    border-radius: 8px;
    height: 250px;
    display: inline-block;
    border: 3px solid #000;
    padding: 20px;
    vertical-align: top;
    margin-top: 50px;
    margin-bottom: 50px;

    

}
.section-four {
    background-color: cornflowerblue;
    vertical-align: top;
    border-radius: 10px;
    border: 3px solid #000;
    display: inline-block;
    height: 250px;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
   
    

}